#canvas-wrapper {
    position: absolute;
    width: 700px;
    top: 100px;
    left: 50px;
}

#canvas {
    float: left;
    cursor: crosshair;
}

#toolbar {
    float: left;
    margin-left: 10px;
}

.tool {
    display: block;
}

